<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings >
    <add
      key="service.adress"
      value="soap.udp://localhost:8085/udp" 
    />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="UDP_Service.UdpService" behaviorConfiguration="UdpServiceBehavior">
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="udp"
                  binding="udpBinding"
                  contract="UDP_Service.IUdpService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/udp" />
            <add baseAddress="soap.udp://localhost:8085/udp" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="UdpServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>