<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings >
    <add key="server.address" value="soap.udp://localhost:8085/udp/udp"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <udpBinding>
                <binding name="UdpBinding_IUdpService" />
            </udpBinding>
        </bindings>
        <client>
            <endpoint address="soap.udp://localhost:8085/udp/udp" binding="udpBinding"
                bindingConfiguration="UdpBinding_IUdpService" contract="MyUdpClient.IUdpService"
                name="UdpBinding_IUdpService" />
        </client>
    </system.serviceModel>
</configuration>